GO
CREATE DATABASE [Pract15Trpo_ElectroShop]
GO
USE [Pract15Trpo_ElectroShop]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 24.03.2026 13:33:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[id] [float] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_brands] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 24.03.2026 13:33:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [float] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_tags]    Script Date: 24.03.2026 13:33:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_tags](
	[product_id] [float] NOT NULL,
	[tag_id] [float] NOT NULL,
 CONSTRAINT [PK_product_tags] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 24.03.2026 13:33:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [float] NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[price] [float] NULL,
	[stock] [float] NULL,
	[rating] [float] NULL,
	[created_at] [nvarchar](255) NULL,
	[category_id] [float] NULL,
	[brand_id] [float] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 24.03.2026 13:33:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [float] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_tags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[brands] ([id], [name]) VALUES (1, N'Samsung')
INSERT [dbo].[brands] ([id], [name]) VALUES (2, N'Apple')
INSERT [dbo].[brands] ([id], [name]) VALUES (3, N'Sony')
GO
INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'Smartphones')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Laptops')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Accessories')
GO
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (1, 1)
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (1, 2)
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (1, 5)
GO
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (1, N'Logitech MX Master 3', N'Latest-generation technology', 167.56, 307, 50000000000, N'2024-07-11', 4, 1)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (2, N'Lenovo Tab P12', N'High-performance device', 2659.51, 238, 1.8, N'2024-03-06', 4, 3)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (3, N'TCL 6-Series 55', N'High-performance device', 1563.33, 499, 4.6, N'2023-11-05', 5, 2)
GO
INSERT [dbo].[tags] ([id], [name]) VALUES (0, N'qwe-')
INSERT [dbo].[tags] ([id], [name]) VALUES (1, N'News')
INSERT [dbo].[tags] ([id], [name]) VALUES (2, N'Popular')
GO
ALTER TABLE [dbo].[product_tags]  WITH CHECK ADD  CONSTRAINT [FK_product_tags_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_tags] CHECK CONSTRAINT [FK_product_tags_products]
GO
ALTER TABLE [dbo].[product_tags]  WITH CHECK ADD  CONSTRAINT [FK_product_tags_tags] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([id])
GO
ALTER TABLE [dbo].[product_tags] CHECK CONSTRAINT [FK_product_tags_tags]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_brands] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_brands]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
USE [master]
GO
